.l-container {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 940px;
  margin-left: auto;
  margin-right: auto; }
  .l-container::after {
    content: " ";
    display: table;
    clear: both; }
  .l-container .l-container {
    width: auto; }
  .l-container .l-row {
    margin-left: -10px;
    margin-right: -10px;
    clear: both; }
    .l-container .l-row::after {
      content: " ";
      display: table;
      clear: both; }
  .l-container.m-fluid > .l-row {
    margin-left: -1.04167%;
    margin-right: -1.04167%;
    clear: both; }
    .l-container.m-fluid > .l-row::after {
      content: " ";
      display: table;
      clear: both; }
  .l-container.m-pixel > .l-row {
    margin-left: -10px;
    margin-right: -10px;
    clear: both; }
    .l-container.m-pixel > .l-row::after {
      content: " ";
      display: table;
      clear: both; }
  .l-container .l-container > .l-row {
    margin-left: -1.04167%;
    margin-right: -1.04167%;
    clear: both; }
    .l-container .l-container > .l-row::after {
      content: " ";
      display: table;
      clear: both; }
  .l-container .l-row.m-gutterless, .l-container .l-row.m-gutterless .l-row {
    margin-left: 0;
    margin-right: 0; }

.l-container .l-col {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  float: left; }
  .l-container .l-row.m-gutterless .l-col {
    margin-left: 0;
    margin-right: 0; }

.l-container > .l-col + .l-col:last-child, .l-container > .l-row .l-col + .l-col:last-child {
  float: right; }

.l-col.m-1 {
  width: 60px; }
  .l-container.m-pixel .l-col.m-1 {
    width: 60px;
    margin-left: 10px;
    margin-right: 10px; }
  .l-container.m-fluid .l-col.m-1 {
    width: 6.25%;
    margin-left: 1.04167%;
    margin-right: 1.04167%; }
  .l-container .l-row.m-gutterless .l-col.m-1, .l-container > .l-col.m-1 {
    width: 78.33333px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-pixel > .l-col.m-1, .l-container.m-pixel .l-row.m-gutterless .l-col.m-1 {
    width: 78.33333px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-fluid > .l-col.m-1, .l-container.m-fluid .l-row.m-gutterless .l-col.m-1 {
    width: 8.33333%;
    margin-left: 0;
    margin-right: 0; }

.l-col.m-2 {
  width: 140px; }
  .l-container.m-pixel .l-col.m-2 {
    width: 140px;
    margin-left: 10px;
    margin-right: 10px; }
  .l-container.m-fluid .l-col.m-2 {
    width: 14.58333%;
    margin-left: 1.04167%;
    margin-right: 1.04167%; }
  .l-container .l-row.m-gutterless .l-col.m-2, .l-container > .l-col.m-2 {
    width: 156.66667px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-pixel > .l-col.m-2, .l-container.m-pixel .l-row.m-gutterless .l-col.m-2 {
    width: 156.66667px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-fluid > .l-col.m-2, .l-container.m-fluid .l-row.m-gutterless .l-col.m-2 {
    width: 16.66667%;
    margin-left: 0;
    margin-right: 0; }

.l-col.m-3 {
  width: 220px; }
  .l-container.m-pixel .l-col.m-3 {
    width: 220px;
    margin-left: 10px;
    margin-right: 10px; }
  .l-container.m-fluid .l-col.m-3 {
    width: 22.91667%;
    margin-left: 1.04167%;
    margin-right: 1.04167%; }
  .l-container .l-row.m-gutterless .l-col.m-3, .l-container > .l-col.m-3 {
    width: 235px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-pixel > .l-col.m-3, .l-container.m-pixel .l-row.m-gutterless .l-col.m-3 {
    width: 235px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-fluid > .l-col.m-3, .l-container.m-fluid .l-row.m-gutterless .l-col.m-3 {
    width: 25%;
    margin-left: 0;
    margin-right: 0; }

.l-col.m-4 {
  width: 300px; }
  .l-container.m-pixel .l-col.m-4 {
    width: 300px;
    margin-left: 10px;
    margin-right: 10px; }
  .l-container.m-fluid .l-col.m-4 {
    width: 31.25%;
    margin-left: 1.04167%;
    margin-right: 1.04167%; }
  .l-container .l-row.m-gutterless .l-col.m-4, .l-container > .l-col.m-4 {
    width: 313.33333px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-pixel > .l-col.m-4, .l-container.m-pixel .l-row.m-gutterless .l-col.m-4 {
    width: 313.33333px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-fluid > .l-col.m-4, .l-container.m-fluid .l-row.m-gutterless .l-col.m-4 {
    width: 33.33333%;
    margin-left: 0;
    margin-right: 0; }

.l-col.m-5 {
  width: 380px; }
  .l-container.m-pixel .l-col.m-5 {
    width: 380px;
    margin-left: 10px;
    margin-right: 10px; }
  .l-container.m-fluid .l-col.m-5 {
    width: 39.58333%;
    margin-left: 1.04167%;
    margin-right: 1.04167%; }
  .l-container .l-row.m-gutterless .l-col.m-5, .l-container > .l-col.m-5 {
    width: 391.66667px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-pixel > .l-col.m-5, .l-container.m-pixel .l-row.m-gutterless .l-col.m-5 {
    width: 391.66667px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-fluid > .l-col.m-5, .l-container.m-fluid .l-row.m-gutterless .l-col.m-5 {
    width: 41.66667%;
    margin-left: 0;
    margin-right: 0; }

.l-col.m-6 {
  width: 460px; }
  .l-container.m-pixel .l-col.m-6 {
    width: 460px;
    margin-left: 10px;
    margin-right: 10px; }
  .l-container.m-fluid .l-col.m-6 {
    width: 47.91667%;
    margin-left: 1.04167%;
    margin-right: 1.04167%; }
  .l-container .l-row.m-gutterless .l-col.m-6, .l-container > .l-col.m-6 {
    width: 470px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-pixel > .l-col.m-6, .l-container.m-pixel .l-row.m-gutterless .l-col.m-6 {
    width: 470px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-fluid > .l-col.m-6, .l-container.m-fluid .l-row.m-gutterless .l-col.m-6 {
    width: 50%;
    margin-left: 0;
    margin-right: 0; }

.l-col.m-7 {
  width: 540px; }
  .l-container.m-pixel .l-col.m-7 {
    width: 540px;
    margin-left: 10px;
    margin-right: 10px; }
  .l-container.m-fluid .l-col.m-7 {
    width: 56.25%;
    margin-left: 1.04167%;
    margin-right: 1.04167%; }
  .l-container .l-row.m-gutterless .l-col.m-7, .l-container > .l-col.m-7 {
    width: 548.33333px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-pixel > .l-col.m-7, .l-container.m-pixel .l-row.m-gutterless .l-col.m-7 {
    width: 548.33333px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-fluid > .l-col.m-7, .l-container.m-fluid .l-row.m-gutterless .l-col.m-7 {
    width: 58.33333%;
    margin-left: 0;
    margin-right: 0; }

.l-col.m-8 {
  width: 620px; }
  .l-container.m-pixel .l-col.m-8 {
    width: 620px;
    margin-left: 10px;
    margin-right: 10px; }
  .l-container.m-fluid .l-col.m-8 {
    width: 64.58333%;
    margin-left: 1.04167%;
    margin-right: 1.04167%; }
  .l-container .l-row.m-gutterless .l-col.m-8, .l-container > .l-col.m-8 {
    width: 626.66667px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-pixel > .l-col.m-8, .l-container.m-pixel .l-row.m-gutterless .l-col.m-8 {
    width: 626.66667px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-fluid > .l-col.m-8, .l-container.m-fluid .l-row.m-gutterless .l-col.m-8 {
    width: 66.66667%;
    margin-left: 0;
    margin-right: 0; }

.l-col.m-9 {
  width: 700px; }
  .l-container.m-pixel .l-col.m-9 {
    width: 700px;
    margin-left: 10px;
    margin-right: 10px; }
  .l-container.m-fluid .l-col.m-9 {
    width: 72.91667%;
    margin-left: 1.04167%;
    margin-right: 1.04167%; }
  .l-container .l-row.m-gutterless .l-col.m-9, .l-container > .l-col.m-9 {
    width: 705px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-pixel > .l-col.m-9, .l-container.m-pixel .l-row.m-gutterless .l-col.m-9 {
    width: 705px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-fluid > .l-col.m-9, .l-container.m-fluid .l-row.m-gutterless .l-col.m-9 {
    width: 75%;
    margin-left: 0;
    margin-right: 0; }

.l-col.m-10 {
  width: 780px; }
  .l-container.m-pixel .l-col.m-10 {
    width: 780px;
    margin-left: 10px;
    margin-right: 10px; }
  .l-container.m-fluid .l-col.m-10 {
    width: 81.25%;
    margin-left: 1.04167%;
    margin-right: 1.04167%; }
  .l-container .l-row.m-gutterless .l-col.m-10, .l-container > .l-col.m-10 {
    width: 783.33333px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-pixel > .l-col.m-10, .l-container.m-pixel .l-row.m-gutterless .l-col.m-10 {
    width: 783.33333px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-fluid > .l-col.m-10, .l-container.m-fluid .l-row.m-gutterless .l-col.m-10 {
    width: 83.33333%;
    margin-left: 0;
    margin-right: 0; }

.l-col.m-11 {
  width: 860px; }
  .l-container.m-pixel .l-col.m-11 {
    width: 860px;
    margin-left: 10px;
    margin-right: 10px; }
  .l-container.m-fluid .l-col.m-11 {
    width: 89.58333%;
    margin-left: 1.04167%;
    margin-right: 1.04167%; }
  .l-container .l-row.m-gutterless .l-col.m-11, .l-container > .l-col.m-11 {
    width: 861.66667px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-pixel > .l-col.m-11, .l-container.m-pixel .l-row.m-gutterless .l-col.m-11 {
    width: 861.66667px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-fluid > .l-col.m-11, .l-container.m-fluid .l-row.m-gutterless .l-col.m-11 {
    width: 91.66667%;
    margin-left: 0;
    margin-right: 0; }

.l-col.m-12 {
  width: 940px; }
  .l-container.m-pixel .l-col.m-12 {
    width: 940px;
    margin-left: 10px;
    margin-right: 10px; }
  .l-container.m-fluid .l-col.m-12 {
    width: 97.91667%;
    margin-left: 1.04167%;
    margin-right: 1.04167%; }
  .l-container .l-row.m-gutterless .l-col.m-12, .l-container > .l-col.m-12 {
    width: 940px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-pixel > .l-col.m-12, .l-container.m-pixel .l-row.m-gutterless .l-col.m-12 {
    width: 940px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-fluid > .l-col.m-12, .l-container.m-fluid .l-row.m-gutterless .l-col.m-12 {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }

.l-col.m-1-of-1 {
  width: 100%; }

.l-col.m-1-of-2 {
  width: 50%; }

.l-col.m-1-of-3 {
  width: 33.33333%; }

.l-col.m-1-of-4 {
  width: 25%; }

.l-col.m-1-of-5 {
  width: 20%; }

.l-col.m-1-of-6 {
  width: 16.66667%; }

.l-col.m-1-of-7 {
  width: 14.28571%; }

.l-col.m-1-of-8 {
  width: 12.5%; }

.l-col.m-1-of-9 {
  width: 11.11111%; }

.l-col.m-1-of-10 {
  width: 10%; }

.l-col.m-1-of-11 {
  width: 9.09091%; }

.l-col.m-1-of-12 {
  width: 8.33333%; }

.l-col.m-2-of-3 {
  width: 66.66667%; }

.l-col.m-2-of-4 {
  width: 50%; }

.l-col.m-2-of-5 {
  width: 40%; }

.l-col.m-2-of-6 {
  width: 33.33333%; }

.l-col.m-2-of-7 {
  width: 28.57143%; }

.l-col.m-2-of-8 {
  width: 25%; }

.l-col.m-2-of-9 {
  width: 22.22222%; }

.l-col.m-2-of-10 {
  width: 20%; }

.l-col.m-2-of-11 {
  width: 18.18182%; }

.l-col.m-2-of-12 {
  width: 16.66667%; }

.l-col.m-3-of-4 {
  width: 75%; }

.l-col.m-3-of-5 {
  width: 60%; }

.l-col.m-3-of-6 {
  width: 50%; }

.l-col.m-3-of-7 {
  width: 42.85714%; }

.l-col.m-3-of-8 {
  width: 37.5%; }

.l-col.m-3-of-9 {
  width: 33.33333%; }

.l-col.m-3-of-10 {
  width: 30%; }

.l-col.m-3-of-11 {
  width: 27.27273%; }

.l-col.m-3-of-12 {
  width: 25%; }

.l-col.m-4-of-5 {
  width: 80%; }

.l-col.m-4-of-6 {
  width: 66.66667%; }

.l-col.m-4-of-7 {
  width: 57.14286%; }

.l-col.m-4-of-8 {
  width: 50%; }

.l-col.m-4-of-9 {
  width: 44.44444%; }

.l-col.m-4-of-10 {
  width: 40%; }

.l-col.m-4-of-11 {
  width: 36.36364%; }

.l-col.m-4-of-12 {
  width: 33.33333%; }

.l-col.m-5-of-6 {
  width: 83.33333%; }

.l-col.m-5-of-7 {
  width: 71.42857%; }

.l-col.m-5-of-8 {
  width: 62.5%; }

.l-col.m-5-of-9 {
  width: 55.55556%; }

.l-col.m-5-of-10 {
  width: 50%; }

.l-col.m-5-of-11 {
  width: 45.45455%; }

.l-col.m-5-of-12 {
  width: 41.66667%; }

.l-col.m-6-of-7 {
  width: 85.71429%; }

.l-col.m-6-of-8 {
  width: 75%; }

.l-col.m-6-of-9 {
  width: 66.66667%; }

.l-col.m-6-of-10 {
  width: 60%; }

.l-col.m-6-of-11 {
  width: 54.54545%; }

.l-col.m-6-of-12 {
  width: 50%; }

.l-col.m-7-of-8 {
  width: 87.5%; }

.l-col.m-7-of-9 {
  width: 77.77778%; }

.l-col.m-7-of-10 {
  width: 70%; }

.l-col.m-7-of-11 {
  width: 63.63636%; }

.l-col.m-7-of-12 {
  width: 58.33333%; }

.l-col.m-8-of-9 {
  width: 88.88889%; }

.l-col.m-8-of-10 {
  width: 80%; }

.l-col.m-8-of-11 {
  width: 72.72727%; }

.l-col.m-8-of-12 {
  width: 66.66667%; }

.l-col.m-9-of-10 {
  width: 90%; }

.l-col.m-9-of-11 {
  width: 81.81818%; }

.l-col.m-9-of-12 {
  width: 75%; }

.l-col.m-10-of-11 {
  width: 90.90909%; }

.l-col.m-10-of-12 {
  width: 83.33333%; }

.l-col.m-11-of-12 {
  width: 91.66667%; }

.l-container .l-col.m-centered, .l-container.m-pixel .l-col.m-centered, .l-container.m-fluid .l-col.m-centered, .l-container .l-row.m-gutterless .l-col.m-centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.l-container .l-row .l-col {
  margin-left: 10px;
  margin-right: 10px; }

.l-container > .l-row .l-col.m-from-left-1 {
  margin-left: 90px; }
.l-container > .l-row .l-col.m-to-left-1 {
  margin-left: -70px; }
.l-container > .l-row .l-col.m-from-right-1 {
  margin-right: 90px; }
.l-container > .l-row .l-col.m-to-right-1 {
  margin-right: -70px; }
.l-container.m-pixel > .l-row .l-col.m-from-left-1 {
  margin-left: 90px; }
.l-container.m-pixel > .l-row .l-col.m-to-left-1 {
  margin-left: -70px; }
.l-container.m-pixel > .l-row .l-col.m-from-right-1 {
  margin-right: 90px; }
.l-container.m-pixel > .l-row .l-col.m-to-right-1 {
  margin-right: -70px; }
.l-container.m-fluid > .l-row .l-col.m-from-left-1 {
  margin-left: 9.375%; }
.l-container.m-fluid > .l-row .l-col.m-to-left-1 {
  margin-left: -7.29167%; }
.l-container.m-fluid > .l-row .l-col.m-from-right-1 {
  margin-right: 9.375%; }
.l-container.m-fluid > .l-row .l-col.m-to-right-1 {
  margin-right: -7.29167%; }
.l-container > .l-row .l-col.m-from-left-2 {
  margin-left: 170px; }
.l-container > .l-row .l-col.m-to-left-2 {
  margin-left: -150px; }
.l-container > .l-row .l-col.m-from-right-2 {
  margin-right: 170px; }
.l-container > .l-row .l-col.m-to-right-2 {
  margin-right: -150px; }
.l-container.m-pixel > .l-row .l-col.m-from-left-2 {
  margin-left: 170px; }
.l-container.m-pixel > .l-row .l-col.m-to-left-2 {
  margin-left: -150px; }
.l-container.m-pixel > .l-row .l-col.m-from-right-2 {
  margin-right: 170px; }
.l-container.m-pixel > .l-row .l-col.m-to-right-2 {
  margin-right: -150px; }
.l-container.m-fluid > .l-row .l-col.m-from-left-2 {
  margin-left: 17.70833%; }
.l-container.m-fluid > .l-row .l-col.m-to-left-2 {
  margin-left: -15.625%; }
.l-container.m-fluid > .l-row .l-col.m-from-right-2 {
  margin-right: 17.70833%; }
.l-container.m-fluid > .l-row .l-col.m-to-right-2 {
  margin-right: -15.625%; }
.l-container > .l-row .l-col.m-from-left-3 {
  margin-left: 250px; }
.l-container > .l-row .l-col.m-to-left-3 {
  margin-left: -230px; }
.l-container > .l-row .l-col.m-from-right-3 {
  margin-right: 250px; }
.l-container > .l-row .l-col.m-to-right-3 {
  margin-right: -230px; }
.l-container.m-pixel > .l-row .l-col.m-from-left-3 {
  margin-left: 250px; }
.l-container.m-pixel > .l-row .l-col.m-to-left-3 {
  margin-left: -230px; }
.l-container.m-pixel > .l-row .l-col.m-from-right-3 {
  margin-right: 250px; }
.l-container.m-pixel > .l-row .l-col.m-to-right-3 {
  margin-right: -230px; }
.l-container.m-fluid > .l-row .l-col.m-from-left-3 {
  margin-left: 26.04167%; }
.l-container.m-fluid > .l-row .l-col.m-to-left-3 {
  margin-left: -23.95833%; }
.l-container.m-fluid > .l-row .l-col.m-from-right-3 {
  margin-right: 26.04167%; }
.l-container.m-fluid > .l-row .l-col.m-to-right-3 {
  margin-right: -23.95833%; }
.l-container > .l-row .l-col.m-from-left-4 {
  margin-left: 330px; }
.l-container > .l-row .l-col.m-to-left-4 {
  margin-left: -310px; }
.l-container > .l-row .l-col.m-from-right-4 {
  margin-right: 330px; }
.l-container > .l-row .l-col.m-to-right-4 {
  margin-right: -310px; }
.l-container.m-pixel > .l-row .l-col.m-from-left-4 {
  margin-left: 330px; }
.l-container.m-pixel > .l-row .l-col.m-to-left-4 {
  margin-left: -310px; }
.l-container.m-pixel > .l-row .l-col.m-from-right-4 {
  margin-right: 330px; }
.l-container.m-pixel > .l-row .l-col.m-to-right-4 {
  margin-right: -310px; }
.l-container.m-fluid > .l-row .l-col.m-from-left-4 {
  margin-left: 34.375%; }
.l-container.m-fluid > .l-row .l-col.m-to-left-4 {
  margin-left: -32.29167%; }
.l-container.m-fluid > .l-row .l-col.m-from-right-4 {
  margin-right: 34.375%; }
.l-container.m-fluid > .l-row .l-col.m-to-right-4 {
  margin-right: -32.29167%; }
.l-container > .l-row .l-col.m-from-left-5 {
  margin-left: 410px; }
.l-container > .l-row .l-col.m-to-left-5 {
  margin-left: -390px; }
.l-container > .l-row .l-col.m-from-right-5 {
  margin-right: 410px; }
.l-container > .l-row .l-col.m-to-right-5 {
  margin-right: -390px; }
.l-container.m-pixel > .l-row .l-col.m-from-left-5 {
  margin-left: 410px; }
.l-container.m-pixel > .l-row .l-col.m-to-left-5 {
  margin-left: -390px; }
.l-container.m-pixel > .l-row .l-col.m-from-right-5 {
  margin-right: 410px; }
.l-container.m-pixel > .l-row .l-col.m-to-right-5 {
  margin-right: -390px; }
.l-container.m-fluid > .l-row .l-col.m-from-left-5 {
  margin-left: 42.70833%; }
.l-container.m-fluid > .l-row .l-col.m-to-left-5 {
  margin-left: -40.625%; }
.l-container.m-fluid > .l-row .l-col.m-from-right-5 {
  margin-right: 42.70833%; }
.l-container.m-fluid > .l-row .l-col.m-to-right-5 {
  margin-right: -40.625%; }
.l-container > .l-row .l-col.m-from-left-6 {
  margin-left: 490px; }
.l-container > .l-row .l-col.m-to-left-6 {
  margin-left: -470px; }
.l-container > .l-row .l-col.m-from-right-6 {
  margin-right: 490px; }
.l-container > .l-row .l-col.m-to-right-6 {
  margin-right: -470px; }
.l-container.m-pixel > .l-row .l-col.m-from-left-6 {
  margin-left: 490px; }
.l-container.m-pixel > .l-row .l-col.m-to-left-6 {
  margin-left: -470px; }
.l-container.m-pixel > .l-row .l-col.m-from-right-6 {
  margin-right: 490px; }
.l-container.m-pixel > .l-row .l-col.m-to-right-6 {
  margin-right: -470px; }
.l-container.m-fluid > .l-row .l-col.m-from-left-6 {
  margin-left: 51.04167%; }
.l-container.m-fluid > .l-row .l-col.m-to-left-6 {
  margin-left: -48.95833%; }
.l-container.m-fluid > .l-row .l-col.m-from-right-6 {
  margin-right: 51.04167%; }
.l-container.m-fluid > .l-row .l-col.m-to-right-6 {
  margin-right: -48.95833%; }
.l-container > .l-row .l-col.m-from-left-7 {
  margin-left: 570px; }
.l-container > .l-row .l-col.m-to-left-7 {
  margin-left: -550px; }
.l-container > .l-row .l-col.m-from-right-7 {
  margin-right: 570px; }
.l-container > .l-row .l-col.m-to-right-7 {
  margin-right: -550px; }
.l-container.m-pixel > .l-row .l-col.m-from-left-7 {
  margin-left: 570px; }
.l-container.m-pixel > .l-row .l-col.m-to-left-7 {
  margin-left: -550px; }
.l-container.m-pixel > .l-row .l-col.m-from-right-7 {
  margin-right: 570px; }
.l-container.m-pixel > .l-row .l-col.m-to-right-7 {
  margin-right: -550px; }
.l-container.m-fluid > .l-row .l-col.m-from-left-7 {
  margin-left: 59.375%; }
.l-container.m-fluid > .l-row .l-col.m-to-left-7 {
  margin-left: -57.29167%; }
.l-container.m-fluid > .l-row .l-col.m-from-right-7 {
  margin-right: 59.375%; }
.l-container.m-fluid > .l-row .l-col.m-to-right-7 {
  margin-right: -57.29167%; }
.l-container > .l-row .l-col.m-from-left-8 {
  margin-left: 650px; }
.l-container > .l-row .l-col.m-to-left-8 {
  margin-left: -630px; }
.l-container > .l-row .l-col.m-from-right-8 {
  margin-right: 650px; }
.l-container > .l-row .l-col.m-to-right-8 {
  margin-right: -630px; }
.l-container.m-pixel > .l-row .l-col.m-from-left-8 {
  margin-left: 650px; }
.l-container.m-pixel > .l-row .l-col.m-to-left-8 {
  margin-left: -630px; }
.l-container.m-pixel > .l-row .l-col.m-from-right-8 {
  margin-right: 650px; }
.l-container.m-pixel > .l-row .l-col.m-to-right-8 {
  margin-right: -630px; }
.l-container.m-fluid > .l-row .l-col.m-from-left-8 {
  margin-left: 67.70833%; }
.l-container.m-fluid > .l-row .l-col.m-to-left-8 {
  margin-left: -65.625%; }
.l-container.m-fluid > .l-row .l-col.m-from-right-8 {
  margin-right: 67.70833%; }
.l-container.m-fluid > .l-row .l-col.m-to-right-8 {
  margin-right: -65.625%; }
.l-container > .l-row .l-col.m-from-left-9 {
  margin-left: 730px; }
.l-container > .l-row .l-col.m-to-left-9 {
  margin-left: -710px; }
.l-container > .l-row .l-col.m-from-right-9 {
  margin-right: 730px; }
.l-container > .l-row .l-col.m-to-right-9 {
  margin-right: -710px; }
.l-container.m-pixel > .l-row .l-col.m-from-left-9 {
  margin-left: 730px; }
.l-container.m-pixel > .l-row .l-col.m-to-left-9 {
  margin-left: -710px; }
.l-container.m-pixel > .l-row .l-col.m-from-right-9 {
  margin-right: 730px; }
.l-container.m-pixel > .l-row .l-col.m-to-right-9 {
  margin-right: -710px; }
.l-container.m-fluid > .l-row .l-col.m-from-left-9 {
  margin-left: 76.04167%; }
.l-container.m-fluid > .l-row .l-col.m-to-left-9 {
  margin-left: -73.95833%; }
.l-container.m-fluid > .l-row .l-col.m-from-right-9 {
  margin-right: 76.04167%; }
.l-container.m-fluid > .l-row .l-col.m-to-right-9 {
  margin-right: -73.95833%; }
.l-container > .l-row .l-col.m-from-left-10 {
  margin-left: 810px; }
.l-container > .l-row .l-col.m-to-left-10 {
  margin-left: -790px; }
.l-container > .l-row .l-col.m-from-right-10 {
  margin-right: 810px; }
.l-container > .l-row .l-col.m-to-right-10 {
  margin-right: -790px; }
.l-container.m-pixel > .l-row .l-col.m-from-left-10 {
  margin-left: 810px; }
.l-container.m-pixel > .l-row .l-col.m-to-left-10 {
  margin-left: -790px; }
.l-container.m-pixel > .l-row .l-col.m-from-right-10 {
  margin-right: 810px; }
.l-container.m-pixel > .l-row .l-col.m-to-right-10 {
  margin-right: -790px; }
.l-container.m-fluid > .l-row .l-col.m-from-left-10 {
  margin-left: 84.375%; }
.l-container.m-fluid > .l-row .l-col.m-to-left-10 {
  margin-left: -82.29167%; }
.l-container.m-fluid > .l-row .l-col.m-from-right-10 {
  margin-right: 84.375%; }
.l-container.m-fluid > .l-row .l-col.m-to-right-10 {
  margin-right: -82.29167%; }
.l-container > .l-row .l-col.m-from-left-11 {
  margin-left: 890px; }
.l-container > .l-row .l-col.m-to-left-11 {
  margin-left: -870px; }
.l-container > .l-row .l-col.m-from-right-11 {
  margin-right: 890px; }
.l-container > .l-row .l-col.m-to-right-11 {
  margin-right: -870px; }
.l-container.m-pixel > .l-row .l-col.m-from-left-11 {
  margin-left: 890px; }
.l-container.m-pixel > .l-row .l-col.m-to-left-11 {
  margin-left: -870px; }
.l-container.m-pixel > .l-row .l-col.m-from-right-11 {
  margin-right: 890px; }
.l-container.m-pixel > .l-row .l-col.m-to-right-11 {
  margin-right: -870px; }
.l-container.m-fluid > .l-row .l-col.m-from-left-11 {
  margin-left: 92.70833%; }
.l-container.m-fluid > .l-row .l-col.m-to-left-11 {
  margin-left: -90.625%; }
.l-container.m-fluid > .l-row .l-col.m-from-right-11 {
  margin-right: 92.70833%; }
.l-container.m-fluid > .l-row .l-col.m-to-right-11 {
  margin-right: -90.625%; }
.l-container > .l-row .l-col.m-from-left-12 {
  margin-left: 970px; }
.l-container > .l-row .l-col.m-to-left-12 {
  margin-left: -950px; }
.l-container > .l-row .l-col.m-from-right-12 {
  margin-right: 970px; }
.l-container > .l-row .l-col.m-to-right-12 {
  margin-right: -950px; }
.l-container.m-pixel > .l-row .l-col.m-from-left-12 {
  margin-left: 970px; }
.l-container.m-pixel > .l-row .l-col.m-to-left-12 {
  margin-left: -950px; }
.l-container.m-pixel > .l-row .l-col.m-from-right-12 {
  margin-right: 970px; }
.l-container.m-pixel > .l-row .l-col.m-to-right-12 {
  margin-right: -950px; }
.l-container.m-fluid > .l-row .l-col.m-from-left-12 {
  margin-left: 101.04167%; }
.l-container.m-fluid > .l-row .l-col.m-to-left-12 {
  margin-left: -98.95833%; }
.l-container.m-fluid > .l-row .l-col.m-from-right-12 {
  margin-right: 101.04167%; }
.l-container.m-fluid > .l-row .l-col.m-to-right-12 {
  margin-right: -98.95833%; }

.l-container.m-show-guides {
  position: relative; }
  .l-container.m-show-guides:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(transparent 15px, rgba(255, 255, 255, 0.2) 15px), -webkit-linear-gradient(left, rgba(138, 168, 192, 0.2), rgba(138, 168, 192, 0.2) 60px, transparent 60px, transparent 80px), -webkit-linear-gradient(transparent 128px, rgba(255, 255, 255, 0.16667) 15px), -webkit-linear-gradient(rgba(138, 168, 192, 0.2), rgba(138, 168, 192, 0.2));
    background-size: 80px 16px, 80px 10px, 80px 144px; }
  .l-container.m-show-guides::before {
    z-index: -1; }
  .l-container.m-show-guides .l-container::before {
    content: none; }
  .l-container.m-show-guides.m-front {
    position: relative; }
    .l-container.m-show-guides.m-front:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: -webkit-linear-gradient(transparent 15px, rgba(255, 255, 255, 0.2) 15px), -webkit-linear-gradient(left, rgba(138, 168, 192, 0.2), rgba(138, 168, 192, 0.2) 60px, transparent 60px, transparent 80px), -webkit-linear-gradient(transparent 128px, rgba(255, 255, 255, 0.16667) 15px), -webkit-linear-gradient(rgba(138, 168, 192, 0.2), rgba(138, 168, 192, 0.2));
      background-size: 80px 16px, 80px 10px, 80px 144px; }
    .l-container.m-show-guides.m-front::before {
      z-index: 999; }
    .l-container.m-show-guides.m-front .l-container::before {
      content: none; }

body {
  font: 12px/1.36 Helvetica, Arial, sans-serif;
  color: #444;
  background: white;
  padding: 0;
  margin: 0; }

.reference {
  position: absolute;
  left: -1px;
  right: 0;
  opacity: .35;
  z-index: -1; }
  .reference img {
    margin: 0 auto;
    display: block; }

#page {
  padding: 0; }
  #page .top-bar {
    -webkit-transition: 400ms;
    background-color: rgba(0, 128, 0, 0.4);
    position: relative;
    min-height: 30px;
    -webkit-transition: box-shadow 800ms ease, background 500ms ease;
    -webkit-transition-delay: 600ms 0;
    margin-bottom: 35px; }
    #page .top-bar span {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      color: rgba(255, 255, 255, 0.8);
      height: 30px;
      text-align: center;
      line-height: 30px;
      margin: -15px auto 0;
      max-width: 210px;
      background: #0f3e0f;
      z-index: 2;
      opacity: 0;
      cursor: default;
      font-size: 10px;
      -webkit-transition: 300ms;
      -webkit-border-radius: 20px;
      text-transform: uppercase; }
    #page .top-bar::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background: rgba(255, 255, 255, 0.25);
      margin: 0; }
    #page .top-bar.l-col::after {
      opacity: 0;
      -webkit-transition: 300ms ease;
      -webkit-transition-delay: 300ms;
      position: absolute;
      top: 50%;
      left: 50%;
      right: 50%;
      border-top: 1px solid #0f3e0f;
      content: ""; }
    #page .top-bar:hover {
      background-color: rgba(0, 128, 0, 0.7);
      box-shadow: inset 0 0 0px 1px #0f3e0f, 0 1px 5px rgba(0, 0, 0, 0.3); }
      #page .top-bar:hover span {
        opacity: 1; }
      #page .top-bar:hover::after {
        opacity: 1;
        left: 0;
        right: 0; }
  #page .header .p-info,
  #page .ticker {
    -webkit-transition: 400ms;
    background-color: rgba(170, 170, 170, 0.4);
    position: relative;
    min-height: 20px;
    -webkit-transition: box-shadow 800ms ease, background 500ms ease;
    -webkit-transition-delay: 600ms 0;
    margin: 5px 0; }
    #page .header .p-info span,
    #page .ticker span {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      color: rgba(255, 255, 255, 0.8);
      height: 30px;
      text-align: center;
      line-height: 30px;
      margin: -15px auto 0;
      max-width: 210px;
      background: #909090;
      z-index: 2;
      opacity: 0;
      cursor: default;
      font-size: 10px;
      -webkit-transition: 300ms;
      -webkit-border-radius: 20px;
      text-transform: uppercase; }
    #page .header .p-info::before,
    #page .ticker::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background: rgba(255, 255, 255, 0.25);
      margin: 0; }
    #page .header .p-info.l-col::after,
    #page .ticker.l-col::after {
      opacity: 0;
      -webkit-transition: 300ms ease;
      -webkit-transition-delay: 300ms;
      position: absolute;
      top: 50%;
      left: 50%;
      right: 50%;
      border-top: 1px solid #909090;
      content: ""; }
    #page .header .p-info:hover,
    #page .ticker:hover {
      background-color: rgba(170, 170, 170, 0.7);
      box-shadow: inset 0 0 0px 1px #909090, 0 1px 5px rgba(0, 0, 0, 0.3); }
      #page .header .p-info:hover span,
      #page .ticker:hover span {
        opacity: 1; }
      #page .header .p-info:hover::after,
      #page .ticker:hover::after {
        opacity: 1;
        left: 0;
        right: 0; }
  #page .header .p-logo,
  #page .header .p-weather {
    -webkit-transition: 400ms;
    background-color: rgba(0, 0, 255, 0.4);
    position: relative;
    min-height: 70px;
    -webkit-transition: box-shadow 800ms ease, background 500ms ease;
    -webkit-transition-delay: 600ms 0; }
    #page .header .p-logo span,
    #page .header .p-weather span {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      color: rgba(255, 255, 255, 0.8);
      height: 30px;
      text-align: center;
      line-height: 30px;
      margin: -15px auto 0;
      max-width: 210px;
      background: #2929a3;
      z-index: 2;
      opacity: 0;
      cursor: default;
      font-size: 10px;
      -webkit-transition: 300ms;
      -webkit-border-radius: 20px;
      text-transform: uppercase; }
    #page .header .p-logo::before,
    #page .header .p-weather::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background: rgba(255, 255, 255, 0.25);
      margin: 0; }
    #page .header .p-logo.l-col::after,
    #page .header .p-weather.l-col::after {
      opacity: 0;
      -webkit-transition: 300ms ease;
      -webkit-transition-delay: 300ms;
      position: absolute;
      top: 50%;
      left: 50%;
      right: 50%;
      border-top: 1px solid #2929a3;
      content: ""; }
    #page .header .p-logo:hover,
    #page .header .p-weather:hover {
      background-color: rgba(0, 0, 255, 0.7);
      box-shadow: inset 0 0 0px 1px #2929a3, 0 1px 5px rgba(0, 0, 0, 0.3); }
      #page .header .p-logo:hover span,
      #page .header .p-weather:hover span {
        opacity: 1; }
      #page .header .p-logo:hover::after,
      #page .header .p-weather:hover::after {
        opacity: 1;
        left: 0;
        right: 0; }
  #page .nav .p-main,
  #page .nav .p-sub {
    -webkit-transition: 400ms;
    background-color: rgba(102, 14, 26, 0.4);
    position: relative;
    min-height: 24px;
    -webkit-transition: box-shadow 800ms ease, background 500ms ease;
    -webkit-transition-delay: 600ms 0; }
    #page .nav .p-main span,
    #page .nav .p-sub span {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      color: rgba(255, 255, 255, 0.8);
      height: 30px;
      text-align: center;
      line-height: 30px;
      margin: -15px auto 0;
      max-width: 210px;
      background: #2c1518;
      z-index: 2;
      opacity: 0;
      cursor: default;
      font-size: 10px;
      -webkit-transition: 300ms;
      -webkit-border-radius: 20px;
      text-transform: uppercase; }
    #page .nav .p-main::before,
    #page .nav .p-sub::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background: rgba(255, 255, 255, 0.25);
      margin: 0; }
    #page .nav .p-main.l-col::after,
    #page .nav .p-sub.l-col::after {
      opacity: 0;
      -webkit-transition: 300ms ease;
      -webkit-transition-delay: 300ms;
      position: absolute;
      top: 50%;
      left: 50%;
      right: 50%;
      border-top: 1px solid #2c1518;
      content: ""; }
    #page .nav .p-main:hover,
    #page .nav .p-sub:hover {
      background-color: rgba(102, 14, 26, 0.7);
      box-shadow: inset 0 0 0px 1px #2c1518, 0 1px 5px rgba(0, 0, 0, 0.3); }
      #page .nav .p-main:hover span,
      #page .nav .p-sub:hover span {
        opacity: 1; }
      #page .nav .p-main:hover::after,
      #page .nav .p-sub:hover::after {
        opacity: 1;
        left: 0;
        right: 0; }
  #page .nav .p-main {
    margin: 7px 0 6px; }
  #page .content {
    margin-top: 25px; }
    #page .content .left .item {
      -webkit-transition: 400ms;
      background-color: rgba(201, 180, 128, 0.4);
      position: relative;
      min-height: 100px;
      -webkit-transition: box-shadow 800ms ease, background 500ms ease;
      -webkit-transition-delay: 600ms 0;
      margin-bottom: 25px; }
      #page .content .left .item span {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        color: rgba(255, 255, 255, 0.8);
        height: 30px;
        text-align: center;
        line-height: 30px;
        margin: -15px auto 0;
        max-width: 210px;
        background: #8b8b8b;
        z-index: 2;
        opacity: 0;
        cursor: default;
        font-size: 10px;
        -webkit-transition: 300ms;
        -webkit-border-radius: 20px;
        text-transform: uppercase; }
      #page .content .left .item::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background: rgba(255, 255, 255, 0.25);
        margin: 0; }
      #page .content .left .item.l-col::after {
        opacity: 0;
        -webkit-transition: 300ms ease;
        -webkit-transition-delay: 300ms;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        border-top: 1px solid #8b8b8b;
        content: ""; }
      #page .content .left .item:hover {
        background-color: rgba(201, 180, 128, 0.7);
        box-shadow: inset 0 0 0px 1px #8b8b8b, 0 1px 5px rgba(0, 0, 0, 0.3); }
        #page .content .left .item:hover span {
          opacity: 1; }
        #page .content .left .item:hover::after {
          opacity: 1;
          left: 0;
          right: 0; }
    #page .content .left .m-1 {
      min-height: 2940px; }
    #page .content .left .m-2 {
      min-height: 1592px; }
    #page .content .left .m-3 {
      min-height: 507px; }
    #page .content .main .item {
      -webkit-transition: 400ms;
      background-color: rgba(187, 119, 177, 0.4);
      position: relative;
      min-height: 100px;
      -webkit-transition: box-shadow 800ms ease, background 500ms ease;
      -webkit-transition-delay: 600ms 0;
      margin-bottom: 11px; }
      #page .content .main .item span {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        color: rgba(255, 255, 255, 0.8);
        height: 30px;
        text-align: center;
        line-height: 30px;
        margin: -15px auto 0;
        max-width: 210px;
        background: gray;
        z-index: 2;
        opacity: 0;
        cursor: default;
        font-size: 10px;
        -webkit-transition: 300ms;
        -webkit-border-radius: 20px;
        text-transform: uppercase; }
      #page .content .main .item::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background: rgba(255, 255, 255, 0.25);
        margin: 0; }
      #page .content .main .item.l-col::after {
        opacity: 0;
        -webkit-transition: 300ms ease;
        -webkit-transition-delay: 300ms;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        border-top: 1px solid gray;
        content: ""; }
      #page .content .main .item:hover {
        background-color: rgba(187, 119, 177, 0.7);
        box-shadow: inset 0 0 0px 1px gray, 0 1px 5px rgba(0, 0, 0, 0.3); }
        #page .content .main .item:hover span {
          opacity: 1; }
        #page .content .main .item:hover::after {
          opacity: 1;
          left: 0;
          right: 0; }
    #page .content .main .m-feat {
      min-height: 341px;
      margin-bottom: 31px; }
    #page .content .main .l-row .m-2 .m-1 {
      min-height: 182px; }
    #page .content .main .l-row .m-2 .m-2 {
      min-height: 218px; }
    #page .content .main .l-row .m-2 .m-3 {
      min-height: 182px; }
    #page .content .main .l-row .m-2 .m-4 {
      min-height: 272px; }
    #page .content .main .l-row .m-2 .m-5 {
      min-height: 216px;
      margin-top: 51px; }
    #page .content .main .l-row .m-4 .item {
      margin-bottom: 30px; }
    #page .content .main .l-row .m-4 .m-1 {
      min-height: 776px; }
    #page .content .main .l-row .m-4 .m-2 {
      min-height: 183px; }
    #page .content .main .l-row .m-4 .m-3 {
      min-height: 1098px; }
    #page .content .main .l-row .m-4 .m-4 {
      min-height: 603px; }
    #page .content .main .l-row .m-4 .m-5 {
      min-height: 719px; }
    #page .content .main .l-row .m-4 .m-6 {
      min-height: 321px; }
    #page .content .main .l-row .m-4 .m-7 {
      min-height: 378px; }
    #page .content .main .l-row .m-4 .m-8 {
      min-height: 375px; }
    #page .content .right .item {
      -webkit-transition: 400ms;
      background-color: rgba(118, 156, 187, 0.4);
      position: relative;
      min-height: 100px;
      -webkit-transition: box-shadow 800ms ease, background 500ms ease;
      -webkit-transition-delay: 600ms 0;
      margin-bottom: 10px; }
      #page .content .right .item span {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        color: rgba(255, 255, 255, 0.8);
        height: 30px;
        text-align: center;
        line-height: 30px;
        margin: -15px auto 0;
        max-width: 210px;
        background: #7f7f7f;
        z-index: 2;
        opacity: 0;
        cursor: default;
        font-size: 10px;
        -webkit-transition: 300ms;
        -webkit-border-radius: 20px;
        text-transform: uppercase; }
      #page .content .right .item::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background: rgba(255, 255, 255, 0.25);
        margin: 0; }
      #page .content .right .item.l-col::after {
        opacity: 0;
        -webkit-transition: 300ms ease;
        -webkit-transition-delay: 300ms;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        border-top: 1px solid #7f7f7f;
        content: ""; }
      #page .content .right .item:hover {
        background-color: rgba(118, 156, 187, 0.7);
        box-shadow: inset 0 0 0px 1px #7f7f7f, 0 1px 5px rgba(0, 0, 0, 0.3); }
        #page .content .right .item:hover span {
          opacity: 1; }
        #page .content .right .item:hover::after {
          opacity: 1;
          left: 0;
          right: 0; }
    #page .content .right .m-1 {
      min-height: 172px; }
    #page .content .right .m-2 {
      min-height: 435px; }
    #page .content .right .m-3 {
      min-height: 262px; }
    #page .content .right .m-4 {
      min-height: 230px; }
    #page .content .right .m-5 {
      min-height: 390px; }
    #page .content .right .m-6 {
      min-height: 306px; }
    #page .content .right .m-7 {
      min-height: 62px; }
    #page .content .right .m-8 {
      min-height: 129px; }
    #page .content .right .m-9 {
      min-height: 608px; }
    #page .content .right .m-10 {
      min-height: 191px; }
    #page .content .right .m-11 {
      min-height: 153px; }
    #page .content .right .m-12 {
      min-height: 158px; }
    #page .content .right .m-13 {
      min-height: 140px; }
  #page .shop,
  #page .simple-news {
    margin: 13px 0 20px; }
    #page .shop header,
    #page .simple-news header {
      -webkit-transition: 400ms;
      background-color: rgba(73, 187, 153, 0.4);
      position: relative;
      min-height: 50px;
      -webkit-transition: box-shadow 800ms ease, background 500ms ease;
      -webkit-transition-delay: 600ms 0;
      margin-bottom: 10px; }
      #page .shop header span,
      #page .simple-news header span {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        color: rgba(255, 255, 255, 0.8);
        height: 30px;
        text-align: center;
        line-height: 30px;
        margin: -15px auto 0;
        max-width: 210px;
        background: #636e6b;
        z-index: 2;
        opacity: 0;
        cursor: default;
        font-size: 10px;
        -webkit-transition: 300ms;
        -webkit-border-radius: 20px;
        text-transform: uppercase; }
      #page .shop header::before,
      #page .simple-news header::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background: rgba(255, 255, 255, 0.25);
        margin: 0; }
      #page .shop header.l-col::after,
      #page .simple-news header.l-col::after {
        opacity: 0;
        -webkit-transition: 300ms ease;
        -webkit-transition-delay: 300ms;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        border-top: 1px solid #636e6b;
        content: ""; }
      #page .shop header:hover,
      #page .simple-news header:hover {
        background-color: rgba(73, 187, 153, 0.7);
        box-shadow: inset 0 0 0px 1px #636e6b, 0 1px 5px rgba(0, 0, 0, 0.3); }
        #page .shop header:hover span,
        #page .simple-news header:hover span {
          opacity: 1; }
        #page .shop header:hover::after,
        #page .simple-news header:hover::after {
          opacity: 1;
          left: 0;
          right: 0; }
    #page .shop .l-col,
    #page .simple-news .l-col {
      -webkit-transition: 400ms;
      background-color: rgba(118, 187, 166, 0.4);
      position: relative;
      min-height: 162px;
      -webkit-transition: box-shadow 800ms ease, background 500ms ease;
      -webkit-transition-delay: 600ms 0; }
      #page .shop .l-col span,
      #page .simple-news .l-col span {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        color: rgba(255, 255, 255, 0.8);
        height: 30px;
        text-align: center;
        line-height: 30px;
        margin: -15px auto 0;
        max-width: 210px;
        background: #7f7f7f;
        z-index: 2;
        opacity: 0;
        cursor: default;
        font-size: 10px;
        -webkit-transition: 300ms;
        -webkit-border-radius: 20px;
        text-transform: uppercase; }
      #page .shop .l-col::before,
      #page .simple-news .l-col::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background: rgba(255, 255, 255, 0.25);
        margin: 0; }
      #page .shop .l-col.l-col::after,
      #page .simple-news .l-col.l-col::after {
        opacity: 0;
        -webkit-transition: 300ms ease;
        -webkit-transition-delay: 300ms;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        border-top: 1px solid #7f7f7f;
        content: ""; }
      #page .shop .l-col:hover,
      #page .simple-news .l-col:hover {
        background-color: rgba(118, 187, 166, 0.7);
        box-shadow: inset 0 0 0px 1px #7f7f7f, 0 1px 5px rgba(0, 0, 0, 0.3); }
        #page .shop .l-col:hover span,
        #page .simple-news .l-col:hover span {
          opacity: 1; }
        #page .shop .l-col:hover::after,
        #page .simple-news .l-col:hover::after {
          opacity: 1;
          left: 0;
          right: 0; }
  #page .mastfoot {
    -webkit-transition: 400ms;
    background-color: rgba(51, 51, 51, 0.4);
    position: relative;
    min-height: 52px;
    -webkit-transition: box-shadow 800ms ease, background 500ms ease;
    -webkit-transition-delay: 600ms 0;
    margin-top: 25px; }
    #page .mastfoot span {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      color: rgba(255, 255, 255, 0.8);
      height: 30px;
      text-align: center;
      line-height: 30px;
      margin: -15px auto 0;
      max-width: 210px;
      background: #1a1a1a;
      z-index: 2;
      opacity: 0;
      cursor: default;
      font-size: 10px;
      -webkit-transition: 300ms;
      -webkit-border-radius: 20px;
      text-transform: uppercase; }
    #page .mastfoot::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background: rgba(255, 255, 255, 0.25);
      margin: 0; }
    #page .mastfoot.l-col::after {
      opacity: 0;
      -webkit-transition: 300ms ease;
      -webkit-transition-delay: 300ms;
      position: absolute;
      top: 50%;
      left: 50%;
      right: 50%;
      border-top: 1px solid #1a1a1a;
      content: ""; }
    #page .mastfoot:hover {
      background-color: rgba(51, 51, 51, 0.7);
      box-shadow: inset 0 0 0px 1px #1a1a1a, 0 1px 5px rgba(0, 0, 0, 0.3); }
      #page .mastfoot:hover span {
        opacity: 1; }
      #page .mastfoot:hover::after {
        opacity: 1;
        left: 0;
        right: 0; }
