// Grid settings
$grid-type:                 fluid     !default;
$grid-size:                 980px     !default;
$grid-total-columns:        12        !default;
$grid-desired-gutter:       20px      !default;
$grid-baseline:             18px      !default;

// Advanced settings
// This settings control advanced grid features
// but also increase compiled file size
$grid-nested-grids:         true      !default;
$grid-offsets:              true      !default;
$grid-subdivisions:         true      !default;
$grid-overrides:            true      !default;

// Grid guides
$grid-guides-class:         false     !default;   // Adds `.m-show-guides` and `.m-show-guides.m-front` to scaffolding
$grid-guides-color:         #8aa8c0   !default;
$grid-guides-opacity:       .2        !default;
$grid-guides-position:      front     !default;

// Scaffolding
$scaffolding-debug:         true      !default;  // Highlight disabled features that are used

// Helper mixins
@import "helpers/vendor-prefix";
@import "helpers/group";
@import "helpers/icons";
@import "helpers/position";
@import "helpers/dimensions";

// CSS3 mixins
@import "css3/animation";
@import "css3/border-radius";
@import "css3/box-sizing";
@import "css3/transform";
@import "css3/transition";

// Layout
@import "layout/grid";
// @import "layout/responsive";

// Forms
@import "forms/input-placeholder";

// Icons
$stratum-icons:             $stratum-dingbats !default;
